<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_black_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1472,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{264,92},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{528,92},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{440,92},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{352,92},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{88,92},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{176,92},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1648,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1912,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1824,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{0,92},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1736,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1560,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,246}</string>
                <key>spriteSourceSize</key>
                <string>{208,246}</string>
                <key>textureRect</key>
                <string>{{208,338},{208,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,246}</string>
                <key>spriteSourceSize</key>
                <string>{208,246}</string>
                <key>textureRect</key>
                <string>{{416,338},{208,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,246}</string>
                <key>spriteSourceSize</key>
                <string>{208,246}</string>
                <key>textureRect</key>
                <string>{{1568,92},{208,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_bh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{1240,92},{208,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_bm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{1032,92},{208,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,246}</string>
                <key>spriteSourceSize</key>
                <string>{60,246}</string>
                <key>textureRect</key>
                <string>{{1448,92},{60,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_sd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,364}</string>
                <key>spriteSourceSize</key>
                <string>{185,364}</string>
                <key>textureRect</key>
                <string>{{832,338},{185,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_sh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{82,0},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_black_sm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_pai_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,388}</string>
                <key>spriteSourceSize</key>
                <string>{308,388}</string>
                <key>textureRect</key>
                <string>{{1202,338},{308,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_paibei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,388}</string>
                <key>spriteSourceSize</key>
                <string>{308,388}</string>
                <key>textureRect</key>
                <string>{{1510,338},{308,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{592,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{504,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{416,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{328,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{680,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{768,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1296,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1208,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1384,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1120,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{944,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{856,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1032,0},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,246}</string>
                <key>spriteSourceSize</key>
                <string>{208,246}</string>
                <key>textureRect</key>
                <string>{{624,338},{208,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,246}</string>
                <key>spriteSourceSize</key>
                <string>{208,246}</string>
                <key>textureRect</key>
                <string>{{1776,92},{208,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,246}</string>
                <key>spriteSourceSize</key>
                <string>{208,246}</string>
                <key>textureRect</key>
                <string>{{0,338},{208,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,246}</string>
                <key>spriteSourceSize</key>
                <string>{60,246}</string>
                <key>textureRect</key>
                <string>{{1508,92},{60,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_bd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,364}</string>
                <key>spriteSourceSize</key>
                <string>{185,364}</string>
                <key>textureRect</key>
                <string>{{1017,338},{185,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_bf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{824,92},{208,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_bh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{616,92},{208,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_sf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{164,0},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_red_sh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{246,0},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DDZPoker.png</string>
            <key>size</key>
            <string>{2000,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e0ba6948ea312b662457305dff01dff:cdab7639a480814dbc6e0856d52fb052:1240c682589593f80032ce35ee6126d8$</string>
            <key>textureFileName</key>
            <string>DDZPoker.png</string>
        </dict>
    </dict>
</plist>
